# Shopify
config.yml
config/settings_data.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
